html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: url(hikes_sm.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 70px;
    cursor: default;
}

.icons {
    font-size: 30px;
    padding: 5px;
}

.icon-social-instagram:hover {
    color: rgb(216, 47, 130);
}

.icon-social-twitter:hover {
    color: rgb(29, 161, 242);
}

.icon-music-tone-alt:hover {
    color: rgb(99, 154, 169);
}

.icon-social-facebook:hover {
    color: rgb(59, 89, 152);
}

.icon-envelope:hover {
    color: #A269CF;
}

#social {
    width: 216px;
    margin: 0 auto;
    padding-top: 20px;
}

#sidebar {
    position: absolute;
    display: block;
    right: 0;
    list-style: none;
    top: 50%;
    transform: translateY(-50%);
}

#sidebar > li {
    padding: 15px;
    margin: 10px 0;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 25px;
    background: rgba(255,255,255,.6);
    cursor: pointer;
}

#sidebar > li:hover {
    background: #FFFFFF;
    color: rgb(249, 72, 110);
}

#content {
    width: 800px;
    height: 500px;
    margin: 100px auto;
}

#nav {
    width: 450px;
    float: left;
}

.nav_op {
    width: 50%;
    margin: 0 auto 20px auto;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    height: 75px;
    line-height: 75px;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    font-family: 'Damion', cursive;
}

.nav_op:hover {
    color: white;
}

#nav_bio:hover {
    color: #C46481;
    border-bottom: 3px solid #C46481;
}

#nav_gigs:hover {
    color: #CF69BA;
    border-bottom: 3px solid #CF69BA;
}

#nav_music:hover {
    color: #AB67B8;
    border-bottom: 3px solid #AB67B8;
}

#nav_pv:hover {
    color: #A269CF;
    border-bottom: 3px solid #A269CF;
}

.fb-page {
    float: right;
}

#footer {
    width: 100%;
    height: 15px;
    padding: 5px;
    font-family: 'Damion', cursive;
    text-align: center;
    color: grey;
    border-top: 1px solid #cbcbcb;
}

#footer > a {
    color: grey;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
}

h1#a {
    font-family: 'Yellowtail', cursive;
}

h1#b {
    font-family: 'Mr Dafoe', cursive;
}

h1#c {
    font-family: 'Condiment', cursive;
}

h1#d {
    font-family: 'Damion', cursive;
}
h1#e {
    font-family: 'Nothing You Could Do', cursive;
}

h1#f {
    font-family: 'Permanent Marker', cursive;
}

h1#g {
    font-family: 'Caveat', cursive;
}

h1#h {
    font-family: 'Bad Script', cursive;
}