html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: url(hikes_sm.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: 'Nothing You Could Do', cursive;
    text-align: center;
    font-size: 70px;
    cursor: default;
    padding: 0;
    margin: 0;
}

.icons {
    font-size: 30px;
    padding: 5px;
}

.icon-social-instagram:hover {
    color: rgb(216, 47, 130);
}

.icon-social-twitter:hover {
    color: rgb(29, 161, 242);
}

.icon-music-tone-alt:hover {
    color: rgb(99, 154, 169);
}

.icon-social-facebook:hover {
    color: rgb(59, 89, 152);
}

.icon-envelope:hover {
    color: #A269CF;
}

#social {
    width: 216px;
    margin: 0 auto;
    padding-top: 20px;
}

#sidebar {
    position: absolute;
    display: block;
    right: 0;
    list-style: none;
    top: 50%;
    transform: translateY(-50%);
}

#sidebar li {
    padding: 15px;
    margin: 10px 0;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 25px;
    background: rgba(255,255,255,.6);
    cursor: pointer;
}

#sidebar li:hover {
    background: #FFFFFF;
    color: rgb(249, 72, 110);
}

#content {
    width: 800px;
    height: 500px;
    margin: 100px auto;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
}

.announcement-overlay {
    background: rgba(255,255,255,.85);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: auto;
}

.announcement-overlay h1 {
}

.announcement-overlay .announcement-content {
    width: 500px;
    margin: 0 auto;
    position: relative;
}

.announcement-overlay .album-cover {
    background: url('images/nh_album_ann.jpg');
    background-size: cover;

    width: 500px;
    height: 500px;
}

.announcement-content p {
    text-align: center;
}

.announcement-overlay .album-cover iframe {
    position: absolute;
    bottom: 0;
}

.icon-close {
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
}

.icon-close:hover {
    color: rgb(249, 72, 110);
}